---
- name: deploy java application
  get_url:
    url: http://3.81.66.88:8081/artifactory/UAT/2/target/mahaLogin-1.0.war
    dest: /opt/tomcat/webapps/mahaLogin.war
    username: admin
    password: password
    force_basic_auth: yes
