---
- hosts: 172.31.21.246
  become: yes
  tasks: 
  - name: execute linux command
    command: hostname -f 
    register: myresult
  - name: display the above task result
    debug:
      msg: "{{myresult}}"

  - name: install git
    apt: 
      name: git
      state: present
    when: myresult.stderr ==""

  - name: install tree
    apt:
      name: tree
      state: present
    when: myresult.stderr !=""