---
- hosts: all
  become: yes
  tasks:
  - name: uninstall apche2
    apt:
     name: apace2
     state: absent
     when: ansible_os_family == "Debian"

  - name: uninstall httpd
    yum:
     name: yum
     state: absent
     when: ansible_os_family == "RedHat"   